/* Estilos generales */
body {
    font-family: Arial, sans-serif;
  }
  
  /* Estilos para el contenedor principal */
  div {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilos para el formulario */
  form {
    display: grid;
    grid-gap: 10px;
  }
  
  /* Estilos para las etiquetas */
  label {
    font-weight: bold;
  }
  
  /* Estilos para los campos de entrada */
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="date"],
  input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilos para el botón de envío */
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* Estilos para el botón de edición */
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para la lista de usuarios */
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  /* Estilos para el enlace del archivo */
  a {
    display: block;
    margin-top: 5px;
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para los mensajes de error */
  .text-red-500 {
    color: #ff0000;
  }
  